<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wtfff.boredApp"
    android:versionCode="5"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light">
        <activity android:name=".SearchActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
	        android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
   		<activity android:name=".ContentActivity"
	        android:launchMode="singleTask"
	        android:theme="@android:style/Theme.NoTitleBar"
	        android:configChanges="orientation|keyboardHidden">
   		</activity>
   		<activity android:name=".StatistActivity"
	        android:launchMode="singleTask"
	        android:theme="@android:style/Theme.NoTitleBar"
	        android:configChanges="orientation|keyboardHidden">
   		</activity>
   		<intent-filter >
			<action android:name="android.intent.action.SEND" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="text/plain" />
		</intent-filter >
    </application>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
</manifest>
